<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!-- msg show area -->
<div id="message">

</div>
<!-- msg show area end -->
<div class="send-box"><input type="text" id="msg-input" placeholder="请输入消息"><button id="send-msg">发送</button></div>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/moment/min/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>